*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    text-decoration: none;
}

body {
  color: #2f80ed;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
main{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}
.main-image{
    display: flex;
    padding-top: 110px;
}

.img{
    margin: 0 auto;
}

.error{
    text-align: center;
}

.error p:first-child{
    font-size: 120px;
    width: 420px;
    margin: 0 auto;
}

.error p:last-child{
    font-size: 17px;
    width:420px;
    margin: 0 auto;
    padding: 0 20px;
    visibility: hidden;
}

.error-title:hover + .text{
    visibility: visible;
}

footer{
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    padding-bottom: 30px;
}

span{
    text-decoration: underline;
}